$font-stack-roboto :'Roboto', sans-serif;
$light-color : #F1E8E6;
$light-dark : #232F5A;
$border-radius : 40px;




// common css starts
*{
    box-sizing: border-box;
}
body{
    font-family: $font-stack-roboto;
    line-height: 1.5;
}
.bg-light {
    background-color: $light-color;
}
.bg-dark {
    background-color: $light-dark;
}
.main-content{
    height: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}
.d-flex{
    display: flex !important;
}
.align-item-center{
    align-items: center !important;
}
.justify-content-center{
    justify-content: center !important;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
img{
    max-width: 100%;
}
.light-text{
    color: #a4a4a4;
}
.custom-btn{
    background-color: #FB5951;
}
.theme-color-text{
    color: #ff8c86;
}
.theme-text{

}
.input-group{
    margin-bottom: 30px;
}
.input-group label{
   margin-bottom: 5px;
   font-size: 13px;
   display: inline-block;
}
.form-control{
    width: 100%;
    padding: 15px 12px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #F1E8E6;
    background-color: #F1E8E6;
}
button:hover{
    cursor: pointer;
}
.form-control:focus,button:focus{
    outline: 0;
}
@mixin box-style {
   
}




// ==== profile page starts ===
.profile-main{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.theme-btn{
    margin: 30px 0;
    .light-btn{
        margin-right: 10px;
        padding: 6px 15px;
        border: 0;
        font-weight: 500;
        border-radius: 9px;
        background-color: #FB5951;
        color: #fff;
    }
    .dark-btn{
        padding: 6px 15px;
        border: 0;
        font-weight: 500;
        border-radius: 9px;
        background-color:#000000;
        color: #fff;
    }
}
.profile-col{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 15px;
}
.box-style{
    border-radius: 25px;
    padding: 40px 25px;
}
.bg-light .box-style{
    background-color: #fff;
}
.bg-dark .box-style{
    background-color: #1A223F;
}
.profile-col{
    .title{
        padding-bottom: 3px;
        font-weight: 600; 
    }  
    .light-text{
        padding-bottom: 20px;
        font-size: 12px;
    }
    .theme-text{
        font-size: 12px;
    }
}
.my-profile{
    margin-bottom: 25px;
}
.user-profile{
    display: flex;
    align-items: center;

    .user-img{
        width: 70px;
        height: 70px;
        margin-right: 15px;
        border-radius: 15px;
        overflow: hidden;
    }
    .user-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .user-name{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }
    .user-position{
        font-size: 13px;
        font-weight: 500;
    }
    .user-details{

    }
}
.client-user-holder {
    .user-profile{
        margin-bottom: 15px;
    }
    .user-img{
        width: 50px;
        height: 50px;
    }
    .user-name{
        font-size: 15px;
        font-weight: 400;
    }
    .user-position{
        font-size: 11px;
    }
}

.pwd-submit{
    padding: 15px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 9px;
    background-color: #FB5951;
    color: #fff;
    width: 100%;
}

.change-password .pwd-msg{
    
    margin-top: 15px;
    font-size: 13px;
    color: #e00000;
}

.statistics-holder{
    display: flex;
    flex-wrap: wrap;
    .statistics-content{
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .statistics-img{
        width: 35px;
        height: 35px;
        transform: rotate(-90deg);
    }
    .statistics-text{
        margin-left: 8px;
    }
    .statistics-text div:first-child{
        font-size: 11px;
        color: #333;
    }
    .statistics-text div:last-child{
        font-size: 14px;
        font-weight: 500;
    }
}


// === dark theme === 
.bg-dark {
    color: #fff; 
    .statistics-text div:first-child{
        color: #e2e2e2;
    }
    .theme-btn .light-btn{
        background-color: #3E64FA;
    }
    .custom-btn{
        background-color: #3E64FA;
    }
    .theme-color-text{
        color: #3E64FA;
    }
} 














// === media queries starts ===
@media screen and (max-width:720px){
    .main-content,.profile-main{
        height: initial;
    }
    .profile-col{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box-style{
        padding: 20px 25px;
    }
}